.centered {
  position: fixed;
  top: 25%;
  left: 50%;
  margin-top: -0px;
  margin-left: -120px;
}
.green {
    background-color: #468966; 
}

.yellow {
    border-radius: 15px 50px;
    border: 1px solid #FFB03B; 
    background-color: #FFB03B;
    height: 350px;
    width: 400px; 
    text-decoration: none; 
    font-family: sans-serif;
    color: #468966;
    padding: inherit;
}

.yellow h1 {
    padding-top: 25px; 
}
.yellow p {
    padding-top: 25px; 
}

.quotes {
    margin: 25px; 
    background-color: #011C26;
    border-radius: 25px; 
    color: #FFB03B;
    font-size: 3em; 
    padding: 200px;
}

.author {
    font-style: italic;
}